body {
    font-family: "Roboto", sans-serif;
    background-color: #82A3AC; /* Darker blue */
    color: #D1ACA5; /* Light brown */
}

.login {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #A9C7C5; /* Light blue */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

h1,
h2 {
    color: #D1ACA5; /* Light brown */
}

.form-label {
    display: block;
    font-weight: 500;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #BFD8D2; /* Soft green */
    border-radius: 4px;
    margin-bottom: 1rem;
}

.form-control:focus {
    border-color: #E2CFC9; /* Light pink */
    outline: none;
}

.btn {
    display: inline-block;
    background-color: #BFD8D2; /* Soft green */
    color: #D1ACA5; /* Light brown */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #E2CFC9; /* Light pink */
}

.btn:active {
    background-color: #A9C7C5; /* Light blue */
}
